.miBtn {
    background-color: #2e6fa9;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 5px;
    cursor: pointer;
}

p {
    font-size: 20px;
    font-weight: bold;
    margin: 0 5px;
}



.miBtn {
    background-color: #176897;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .miBtn:hover {
    background-color: #243295;
  }